/* App.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .card {
    cursor: pointer;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  